{"filter":false,"title":"001_set_character.cnf","tooltip":"/docker/db/conf.d/001_set_character.cnf","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1633418780872,"hash":"51308231be62499afac214ddd1727e5656db0599"}