{"filter":false,"title":"002_time_zone.cnf","tooltip":"/docker/db/conf.d/002_time_zone.cnf","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1633418780872,"hash":"bdd232b5dfddf91bd5925483b36a263a4967d926"}